<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="..." alt="..." class="rounded">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Helloooooooooo Mr Call Operator</p>
  </div>
</div> -->

<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="./home"><img src="../../assets/img/earthquake.png"> Crisis Management System</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="./home">Home</a>
      <a class="nav-item nav-link" routerLink="./incident" href="#">Incident</a>
      <a class="nav-item nav-link" routerLink="./create" href="#">Create</a>
      <!-- <a class="nav-item nav-link" href="#">Contact</a> -->
    </div>
  </div>
  <!-- <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div> -->
</nav>

<!-- Main -->
<main>
  <div class="container" style="height:1000px;">
    <!-- <div class="row pt-5"> -->
      <!-- <div class="col text-center"> -->
        <!-- <h2>This Navbar isn't fixed</h2>
                <h5>When you scroll down it will disappear</h5> -->
        <router-outlet></router-outlet>

      <!-- </div> -->
    <!-- </div> -->
  </div>
</main>
<!-- /.Main -->

<!-- <nav>
  <a routerLink="./home">Main</a>
  <a routerLink="./incident">Create Incident</a>
</nav> -->

<!-- <div class="container"> -->


<!-- <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentOrientation">
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
    <input ngbButton type="radio" value="horizontal">Horizontal
  </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
    <input ngbButton type="radio" value="vertical">Vertical
  </label>
  </div> -->

<!-- <router-outlet></router-outlet>
</div> -->
