<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="./home"><img src="../../assets/img/earthquake.png">PMO</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="./home">Home</a>
      <a class="nav-item nav-link" routerLink="./bombshelter" href="#">Bombshelter</a>
      <a class="nav-item nav-link" routerLink="./feedback" href="#">Feedback</a>
    </div>
  </div>

</nav>

<main>
  <div class="container" style="height:1000px;">
    <router-outlet></router-outlet>
  </div>
</main>
